:root {
    --color1: #fcc914;
    --color5: #3d3d3d;
}

body {
    min-width: 340px;
    max-width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
}

/* header */
.hidden {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

header img {
    width: 70px;
    height: 100%;
    margin: auto;
    transform: translate(25%);
}

.login {
    height: 100%;
}

ul {
    list-style: none;
    display: flex;
}

li {
    padding: 5px;
}

.nav-bar {
    flex-direction: column;
    position: absolute;
    top: 15px;
    left: 0;
    padding: 0;
    background: var(--color5);
    z-index: 1;
    color: white;
    display: none;
}

/* footer */
footer {
    text-align: center;
    margin-top: 100px;
}

footer img {
    width: 15px;
    height: 100%;
    vertical-align: bottom;
}

footer a {
    padding: 5px;
    text-decoration: none;
}

footer p {
    text-align: center;
}

/* frontpage */
.front-page {
    display: grid;
    grid-template-areas: 'a b c';
    text-align: center;
}
