:root {
    --color1: #fcc914;
    --color2: #3d3d3d;
}

body {
    min-width: 350px;
    max-width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    padding-left: 0;
    list-style: none;

}

nav li {
    cursor: pointer;
    padding: 2px 8px;
    border-bottom: 1px solid var(--color2);
    width: 100%;
}

.nav-select {
    border-top: 1px solid var(--color2);
    border-left: 1px solid var(--color2);
    border-right: 1px solid var(--color2);
    border-bottom: none;
}

.hidden {
    display: none;
}

table {
    width: 350px;
    margin: 20px auto;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

header a.home {
    background-image: url('/public/images/grb.png');
    display: block;
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: cover;
    margin: auto;
    position: relative;
    left: 15px;
    transition: transform 0.5s;
}

header a.home:hover {
    transform: scale(1.1);
}

.login {
    height: 100%;
}

.nav-bar {
    flex-direction: column;
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    top: 15px;
    left: 2px;
    padding: 0;
    background: var(--color2);
    z-index: 1;
    display: none;
    animation-name: menu;
    animation-duration: 0.6s;
}

@keyframes menu {
    from {
        width: 0;
    }

    to {
        width: 100px;
    }
}

.nav-bar a {
    color: var(--color1);
    text-decoration: none;
}

.nav-bar li {
    padding: 5px;
}

.nav-toggle {
    cursor: pointer;
    height: 100%;
    transition: transform 0.3s;
}

.nav-toggle:hover {
    transform: scale(1.4);
}

/* footer */
footer {
    text-align: center;
    margin-top: 100px;
}

footer img {
    width: 15px;
    height: 100%;
    vertical-align: bottom;
}

footer a {
    padding: 15px;
    text-decoration: none;
    font-size: 12px;
}

footer address {
    margin: 15px auto;
}

/* frontpage */
.front-page {
    display: grid;
    grid-template-areas: 'a b c';
    text-align: center;
}

.front-page a {
    text-decoration: none;
    color: black;
}

.front-page a {
    transition: transform 0.4s;
}

.front-page a:hover {
    color: var(--color2);
    transform: scale(1.1)
}

h3 {
    text-align: center;
}

/* fixtures */
.fixtures td:nth-of-type(-n+2) {
    text-align: right;
    padding: 0 5px;
}

.fixtures td:nth-of-type(n+4) {
    text-align: left;
    padding: 0 5px;
}

.fixtures td:nth-of-type(1),
.fixtures td:nth-of-type(5) {
    width: 40%;
}

.fixtures img {
    width: 30px;
    height: 30px;
}

.fixtures td:nth-of-type(3) {
    padding: 0 5px;
    text-align: center;
}

.fixtures th:nth-of-type(1) {
    text-align: left;
}

.fixtures th:nth-of-type(2) {
    text-align: right;
}

/* results */
.results-section td {
    padding-top: 10px;
}

.results-section th:nth-of-type(1) {
    text-align: left;
}

.results-section th:nth-of-type(2) {
    text-align: right;
}

.results-section img {
    width: 30px;
    height: 30px;
}

.results-section td:nth-of-type(1) {
    width: 40%;
    text-align: right;
}

.results-section td:nth-of-type(7) {
    width: 40%;
    text-align: left;
}

.results-section td:nth-of-type(3),
.results-section td:nth-of-type(5) {
    width: 5%;
    text-align: center;
    font-size: larger;
}

.results-section td:nth-of-type(4) {
    text-align: center;
}

/* table */
.standings-table img {
    width: 20px;
    height: 20px;
    padding: 0 2px;
    vertical-align: bottom;
}

.standings-table td {
    text-align: center;
    padding: 2px;
}

.standings-table td:nth-of-type(9) {
    font-weight: bold;
}

.standings-table td:nth-of-type(2) {
    width: 45%;
    text-align: left;
}

.standings-table tr:nth-of-type(-n+4) td:nth-of-type(1) {
    border-right: 4px solid var(--color1);
}

.standings-table tr:nth-of-type(n+5) td:nth-of-type(1) {
    border-right: 4px solid white;
}

/* about */
.about img {
    width: 30%;
    float: left;
}

/* team */
.team {
    width: 350px;
    margin: auto;
}

.team table {
    margin: auto;
}

.team p {
    text-align: left;
}

.team img {
    width: 150px;
    float: left;
    margin-right: 5px;
}

.team td img {
    width: 30px;
    height: 30px;
}

.team nav {
    clear: left;
}

/* media queries */
@media screen and (min-width: 640px) {}

@media screen and (min-width: 900px) {}
