:root {
    --color1: #fcc914;
    --color2: #3d3d3d;
    --color3: #db2519;
    --table-width: 350px;
    --standings-width: 340px;
    --font-size-16: 14px;
    --font-size-10: 10px;
    --td-padding: 0 2px;
    --club-logo__small: 20px;
    --club-logo__big: 150px
}

body {
    margin: 0;
    min-width: 350px;
    max-width: 100%;
    font-family: 'Roboto', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: var(--color3);
}

.hidden {
    display: none;
}

.header-main {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 2px 0;
    align-items: center;
    background: var(--color1);
    box-shadow: 0 0 2px var(--color2);
    margin: 0 0 40px 0;
}

.home-logo {
    background-image: url('/public/images/grb.png?v=0.1');
    display: block;
    width: 50px;
    height: 50px;
    margin: 2px 0 0 5px;
    background-position: center;
    background-size: cover;
    transition: transform 0.4s;
}

.home-logo:hover {
    transform: scale(1.1);
}

.nav-bar {
    flex-direction: column;
    list-style: none;
    width: 0;
    height: 0;
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    top: 30px;
    right: 0px;
    z-index: 1;
    transition: 0.4s;
    opacity: 0;
    background: var(--color2);
}

.menu:hover .nav-bar {
    width: 100px;
    height: 240px;
    opacity: 1;
    box-shadow: 0 0 4px var(--color2);
}

.menu {
    margin-right: 10px;
}

.nav-bar a {
    color: var(--color1);
    padding-right: 10px;
}

.nav-bar a:hover {
    color: white;
}

.nav-bar li {
    text-align: right;
    padding: 5px;
    transition: 0.4s;
    border: none;
}

.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 3px;
    background-color: var(--color2);
    margin: 6px 0;
    transition: 0.4s;
}

.menu:hover .bar1 {
    transform: rotate(-45deg) translate(-6px, 5px);
}

.menu:hover .bar2 {
    opacity: 0;
}

.menu:hover .bar3 {
    transform: rotate(45deg) translate(-7px, -7px);
}

.nav-tab {
    display: flex;
    justify-content: space-around;
    padding-left: 0;
    list-style: none;
    text-align: center;
}

.nav-tab li {
    cursor: pointer;
    padding: 2px 8px;
    width: 100%;
}

.nav-select {
    border-bottom: 4px solid var(--color1);
    font-weight: bold;
    color: var(--color3);
}

.container {
    margin-left: 6px;
}

.about__image {
    width: 30%;
    float: left;
}

.bottom-border {
    border-bottom: 2px solid var(--color2);
    width: 2%;
}

.opponent-border {
    border-bottom: 1px solid var(--color2);
}

.vertical-border {
    border-right: 2px solid var(--color2);
}

.spacer {
    height: 20px;
}

.score {
    background: var(--color2);
    color: var(--color3);
    padding: 1px 4px;
    width: 5%;
    text-align: center;
}

.opponent {
    background: var(--color1);
    padding: 1px 2px;
    width: 40%;
}

.footer {
    margin: 60px 0 0 0;
    text-align: center;
    padding-top: 5px;
}

.footer-image {
    width: 15px;
    height: 15px;
}

.admin a {
    background: var(--color1);
    color: black;
    text-decoration: none;
    padding: 1px 10px;
    margin: 5px;
    border-radius: 2px;
    box-shadow: 0 0 2px var(--color5);
    font-size: 15px;
}

.admin {
    font-size: 15px;
}

.admin a:hover {
    background: var(--color3);
    color: white;
}

.adminCards {
    display: inline-block;
    width: 50px;
    max-width: 200px;
    font-size: var(--fontSize12);
    font-weight: bold;
    padding: 5px 15px;
    box-shadow: 0 0 2px var(--color5);
    margin: 5px;
    text-align: center;
    cursor: pointer;
}

.game-input__row:hover {
    background: var(--color1);
    font-weight: bold;
}

.modalForm {
    text-align: right;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    margin-left: -10px;
    background: rgba(0, 0, 0, 0.5);
    color: var(--color2);
    z-index: 1;
    display: none;
}

.row--highlight:hover {
    background: var(--color1);
}

.visitorTable {
    border: 1px solid var(--color3);
    border-collapse: collapse;
    font-size: 14px;
}

.visitorTable th {
    position: sticky;
    z-index: 0;
    top: 60px;
}

.visitorTable td {
    padding: 2px 3px;
    text-align: center;
    border-bottom: 1px solid var(--color2);
    border-top: 1px solid var(--color2);
}

.visitorTable td:nth-of-type(10) {
    border-left: 1px solid var(--color2);
}

.visitorTable th {
    background: var(--color1);
    color: black;
}

.club-logo__small {
    height: var(--club-logo__small);
    width: var(--club-logo__small);
    vertical-align: bottom;
    padding: 0 2px;
}

.club-logo__fixed {
    height: 20px;
    width: 20px;
    vertical-align: middle;
    padding: 0 2px;
}

.club-logo__big {
    width: var(--club-logo__big);
    float: left;
    padding: 0 20px 20px 0;
}

.text-align__left {
    text-align: left;
    padding: var(--td-padding);
}

.text-align__right {
    text-align: right;
    padding: var(--td-padding);
}

.text-align__center {
    text-align: center;
}

.venue {
    text-align: center;
    padding: 5px 0 20px 0;
    font-size: 16px;
}

.text-bold {
    font-weight: bold;
}

.background-row {
    background: var(--color1);
    box-shadow: #3d3d3d 0px 1px 0px;
}

.goals {
    text-align: center;
}

.standings {
    border-collapse: collapse;
    width: var(--standings-width);
    margin: 20px auto;
    font-size: var(--font-size-16);
}

.table {
    width: var(--table-width);
    border-collapse: collapse;
    margin: 20px auto;
    font-size: var(--font-size-16);
}

.table-shadow {
    box-shadow: #3d3d3d 0px 1px 0px;
}

.table-border {
    border-bottom: rgba(61, 61, 61, 0.2) 1px solid;
}

.table--odd-row__dark tr:nth-of-type(even):nth-of-type(n+2) {
    background: rgba(61, 61, 61, 0.1)
}

.standings-club__width {
    width: 50%;
}

.standings-cell__width {
    width: 10%;
}

.standings td:nth-of-type(n+2) {
    padding: var(--td-padding);
}

.standings tr:nth-of-type(-n+4) td:nth-of-type(1) {
    border-right: var(--color1) 3px solid;
}

.team-results {
    clear: both;
    margin: 0 0 20px 0;
    border-collapse: collapse;
}

.teams {
    margin-left: 6px;
}

.teams__list {
    border-bottom: 1px solid var(--color2);
    padding-bottom: 4px;
}

.next-fixture {
    margin-bottom: 60px;
}

/* naziv??? */
.finalss {
    margin-left: 6px;
}

.tooltip {
    margin-left: 10px;
    font-size: var(--font-size-10);
    font-weight: bold;
    text-align: center;
}

.info-italic {
    font-style: italic;
    font-size: 70%;
    padding-top: 3%;
}


/* media queries */
@media screen and (max-width:640px) {
    .goals {
        display: none;
    }
}

@media screen and (min-width: 640px) {
    :root {
        --table-width: 450px;
        --standings-width: 520px;
        --font-size-16: 20px;
        --font-size-10: 12px;
        --club-logo__small: 30px;
    }

    .opponent {
        width: 45%;
    }
}

@media screen and (min-width: 900px) {
    :root {
        --font-size-16: 22px;
        --standings-width: 560px;
        --table-width: 550px;
    }
}
