<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Napravi raspored...</title>
    <meta name="description" content="Fair Play LBŠ website">
    <meta name="keywords" content="Fair Play, Liga Budućih Šampiona, LBŠ, Liga">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesFts.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script><!-- izbaci jquery -->
    <script src="/js/scripts.js" defer></script>
</head>
<body>
    <div id="title">
        <h2>Turnir mejker je u izradi :)</h2>
    </div>
    <div id="time">
        <p>Pocetak turnira:</p>
        <label for="startHour">Sati</label>
        <input type="number" id="startHour" min="0" max="23" value="12" />
        <label for="startMin">Minuta</label>
        <input type="number" id="startMin" min="0" max="59" value="00" />
    </div>
    <div id="tourFormat">
        <p>Informacije o turniru:</p>
        <label for="numOfTeams">Broj ekipa:</label>
        <input type="number" id="numOfTeams" min="2" value="8" /><br>
        <label for="numOfTeamsPerGroup">Broj ekipa po grupi:</label>
        <input type="number" id="numOfTeamsPerGroup" min="3" max="6" value="4" /><br>
        <label for="gameDuration">Trajanje utakmice (min):</label>
        <input type="number" id="gameDuration" min="6" value="10" /><br>
        <label for=" afterGamePause">Pauza poslje utakmice (min):</label>
        <input type="number" id="afterGamePause" min="1" value="2" /><br>
        <label for="numOfFields">Broj terena:</label>
        <input type="number" id="numOfFields" min="1" value="1" /><br>
    </div>
    <div id="buttons">
        <button id="makeTables">Napravi tabele</button><button id="reset">reset</button>
    </div>
    <div id="dynamic"></div>
    <div id="list"></div>
</body>
<script>
    $('document').ready(
        function () {

            function makeTables() {
                //start of dynamic tables
                let numOfTeams = $('#numOfTeams').val();
                let numOfTeamsPerGroup = $('#numOfTeamsPerGroup').val();
                let remainderTeams = numOfTeams % numOfTeamsPerGroup;
                /*  if (remainderTeams == 2) {
                     numOfTeamsPerGroup -= 1;
                     remainderTeams = 1;
                     //$('#numOfTeams').val('numOfTeamsPerGroup');
                 } else if (remainderTeams == 1) {
                     numOfTeamsPerGroup -= 1;
                 } */
                let numOfGroups = numOfTeams / numOfTeamsPerGroup;
                console.log('U slucaju nedjeljivog broja ekipa, ostatak je: ' + remainderTeams);
                console.log('Ako je visak 2 tima onda su timovi po grupi: ' + numOfTeamsPerGroup);

                for (let i = 1; i <= numOfGroups; i++) {
                    let tableBody = `<table id="tab${i}"><caption>Grupa ${i}</caption><tr><th>id</th><th>ekipa</th></tr></table>`;
                    $('#dynamic').append(tableBody);
                    if (numOfTeamsPerGroup % 2 != 0) {
                        numOfTeamsPerGroup++;
                        for (let j = 1; j <= numOfTeamsPerGroup; j++) {
                            $(`#tab${i}`).append(`<tr><td>${j}</td><td><input type="text" id="group${i}team${j}"/></td></tr>`);
                        }
                    } else {
                        for (let j = 1; j <= numOfTeamsPerGroup; j++) {
                            $(`#tab${i}`).append(`<tr><td>${j}</td><td><input type="text" id="group${i}team${j}"/></td></tr>`);
                        }
                    }

                }
                $('#dynamic').append('<div><button id="b">raspored</button></div>');
                $('#b').click(makeSchedule);
                //end of dynamic tables

                //in case of odd row number, hide additionally added one
                if ($('#numOfTeamsPerGroup').val() % 2 != 0) {
                    for (let i = 1; i <= numOfGroups; i++) {
                        $(`#tab${i} tr:last-of-type`).hide();
                    }
                }

                //disable make tables button
                document.querySelector('#makeTables').disabled = true;
            }


            function makeSchedule() {
                let numOfTeams = $('#numOfTeams').val();
                let numOfTeamsPerGroup = $('#numOfTeamsPerGroup').val();
                let numOfGroups = numOfTeams / numOfTeamsPerGroup;
                let startHour = $('#startHour').val();
                let startMin = $('#startMin').val();
                let startTime = new Date(1983, 2, 18, startHour, startMin);
                let gameDuration = $('#gameDuration').val() * 60000;
                let pauseAfterGame = $('#afterGamePause').val() * 60000;
                let totalGameDurationInMillisecs = gameDuration + pauseAfterGame;
                let numOfFields = $('#numOfFields').val();
                let schedule = [];  //URADIT

                //populate group maps in array
                let groups = [];
                console.log(groups);
                for (let i = 1; i <= numOfGroups; i++) {
                    groups[i] = new Map();
                    for (let j = 1; j <= numOfTeamsPerGroup; j++) {
                        let team = $(`#group${i}team${j}`).val();
                        //console.log(team);
                        groups[i].set(j, team);
                    }
                }   //end of group populating


                //populate array of all pairs of all groups
                let pairsAll = [];
                for (let i = 1; i <= numOfGroups; i++) {
                    pairsAll[i] = pairs(groups[i], i);
                }


                //schedule all games
                let scheduledPairs = [];
                let numOfGamesPerGroup = ($('#numOfTeamsPerGroup').val() / 2) * ($('#numOfTeamsPerGroup').val() - 1);
                for (let i = 1; i <= numOfGamesPerGroup; i++) {
                    for (let k = 1; k <= numOfGroups; k++) {
                        scheduledPairs.push(pairsAll[k][i]);
                    }

                }


                //add game time
                if (numOfFields > 1) {
                    let times = [];
                    for (let m = 0; m <= (scheduledPairs.length / numOfFields); m++) {
                        times[m] = new Date(startTime.getTime() + totalGameDurationInMillisecs * m);
                    }
                    let i = times.length;

                    if (numOfFields == 2) {
                        while (i--) {
                            times.splice(i, 0, times[i]);
                        }
                    } else if (numOfFields == 3) {
                        while (i--) {
                            times.splice(i, 0, times[i], times[i]);
                        }
                    } else if (numOfFields == 4) {
                        while (i--) {
                            times.splice(i, 0, times[i], times[i], times[i]);
                        }
                    } else if (numOfFields == 5) {
                        while (i--) {
                            times.splice(i, 0, times[i], times[i], times[i], times[i]);
                        }
                    } else if (numOfFields == 6) {
                        while (i--) {
                            times.splice(i, 0, times[i], times[i], times[i], times[i], times[i]);
                        }
                    } else if (numOfFields == 7) {
                        while (i--) {
                            times.splice(i, 0, times[i], times[i], times[i], times[i], times[i], times[i]);
                        }
                    }

                    console.log(times.length);
                    for ([i, el] of scheduledPairs.entries()) {
                        let hours = (times[i].getHours() < 10 ? '0' : '') + times[i].getHours();
                        let mins = (times[i].getMinutes() < 10 ? '0' : '') + times[i].getMinutes();
                        console.log((i + 1) + '. utak. |' + `${hours}h:${mins}m` + ' | ' + el);
                        schedule[i] = (i + 1) + '. utak. |' + `${hours}h:${mins}m` + ' | ' + el;
                    }
                } else {
                    for ([i, el] of scheduledPairs.entries()) {
                        let time = new Date(startTime.getTime() + totalGameDurationInMillisecs * i);
                        let hours = (time.getHours() < 10 ? '0' : '') + time.getHours();
                        let mins = (time.getMinutes() < 10 ? '0' : '') + time.getMinutes();
                        console.log((i + 1) + '. utak. |' + `${hours}h:${mins}m` + ' | ' + el);
                        schedule[i] = (i + 1) + '. utak. |' + `${hours}h:${mins}m` + ' | ' + el;
                    }
                }


                //calculate tournament duration
                let tourDurationHours = ((scheduledPairs.length / numOfFields) * (gameDuration / 60000 + pauseAfterGame / 60000)) / 60;
                let tourDurationMins = ((scheduledPairs.length / numOfFields) * (gameDuration / 60000 + pauseAfterGame / 60000)) % 60;
                console.log(`tournament duration: ${Math.floor(tourDurationHours)}h:${tourDurationMins}min`);

                console.log(schedule);
                let table = '<table id="raspored">Raspored turnira</table>';
                $('#list').append(table);
                for (i = 0; i < schedule.length; i++) {
                    $('#raspored').append(`<tr><td>${schedule[i]}</td></tr>`);
                }

            }

            //round robin template
            function pairs(group, groupNo) {
                let groupPairs = [];
                if (group.size <= 4) {
                    groupPairs[1] = `Grupa ${groupNo} | 1. kolo: ${group.get(1)} - ${group.get(4)}`;
                    groupPairs[2] = `Grupa ${groupNo} | 1. kolo: ${group.get(2)} - ${group.get(3)}`;

                    groupPairs[3] = `Grupa ${groupNo} | 2. kolo: ${group.get(4)} - ${group.get(3)}`;
                    groupPairs[4] = `Grupa ${groupNo} | 2. kolo: ${group.get(1)} - ${group.get(2)}`;

                    groupPairs[5] = `Grupa ${groupNo} | 3. kolo: ${group.get(2)} - ${group.get(4)}`;
                    groupPairs[6] = `Grupa ${groupNo} | 3. kolo: ${group.get(3)} - ${group.get(1)}`;

                    if ($('#numOfTeamsPerGroup').val() % 2 != 0) {
                        groupPairs[1] = `Grupa ${groupNo} | 1. kolo: ${group.get(2)} - ${group.get(3)}`;
                        groupPairs[2] = `Grupa ${groupNo} | 2. kolo: ${group.get(1)} - ${group.get(2)}`;
                        groupPairs[3] = `Grupa ${groupNo} | 3. kolo: ${group.get(3)} - ${group.get(1)}`;
                    }
                } else {
                    groupPairs[1] = `Grupa ${groupNo} | 1. kolo: ${group.get(1)} - ${group.get(6)}`;
                    groupPairs[2] = `Grupa ${groupNo} | 1. kolo: ${group.get(2)} - ${group.get(5)}`;
                    groupPairs[3] = `Grupa ${groupNo} | 1. kolo: ${group.get(3)} - ${group.get(4)}`;

                    groupPairs[4] = `Grupa ${groupNo} | 2. kolo: ${group.get(6)} - ${group.get(4)}`;
                    groupPairs[5] = `Grupa ${groupNo} | 2. kolo: ${group.get(5)} - ${group.get(3)}`;
                    groupPairs[6] = `Grupa ${groupNo} | 2. kolo: ${group.get(1)} - ${group.get(2)}`;

                    groupPairs[7] = `Grupa ${groupNo} | 3. kolo: ${group.get(2)} - ${group.get(6)}`;
                    groupPairs[8] = `Grupa ${groupNo} | 3. kolo: ${group.get(3)} - ${group.get(1)}`;
                    groupPairs[9] = `Grupa ${groupNo} | 3. kolo: ${group.get(4)} - ${group.get(5)}`;

                    groupPairs[10] = `Grupa ${groupNo} | 4. kolo: ${group.get(6)} - ${group.get(5)}`;
                    groupPairs[11] = `Grupa ${groupNo} | 4. kolo: ${group.get(1)} - ${group.get(4)}`;
                    groupPairs[12] = `Grupa ${groupNo} | 4. kolo: ${group.get(2)} - ${group.get(3)}`;

                    groupPairs[13] = `Grupa ${groupNo} | 5. kolo: ${group.get(3)} - ${group.get(6)}`;
                    groupPairs[14] = `Grupa ${groupNo} | 5. kolo: ${group.get(4)} - ${group.get(2)}`;
                    groupPairs[15] = `Grupa ${groupNo} | 5. kolo: ${group.get(5)} - ${group.get(1)}`;

                    if ($('#numOfTeamsPerGroup').val() % 2 != 0) {
                        groupPairs[1] = `Grupa ${groupNo} | 1. kolo: ${group.get(2)} - ${group.get(5)}`;
                        groupPairs[2] = `Grupa ${groupNo} | 1. kolo: ${group.get(3)} - ${group.get(4)}`;

                        groupPairs[3] = `Grupa ${groupNo} | 2. kolo: ${group.get(5)} - ${group.get(3)}`;
                        groupPairs[4] = `Grupa ${groupNo} | 2. kolo: ${group.get(1)} - ${group.get(2)}`;

                        groupPairs[5] = `Grupa ${groupNo} | 3. kolo: ${group.get(3)} - ${group.get(1)}`;
                        groupPairs[6] = `Grupa ${groupNo} | 3. kolo: ${group.get(4)} - ${group.get(5)}`;

                        groupPairs[7] = `Grupa ${groupNo} | 4. kolo: ${group.get(1)} - ${group.get(4)}`;
                        groupPairs[8] = `Grupa ${groupNo} | 4. kolo: ${group.get(2)} - ${group.get(3)}`;

                        groupPairs[9] = `Grupa ${groupNo} | 5. kolo: ${group.get(4)} - ${group.get(2)}`;
                        groupPairs[10] = `Grupa ${groupNo} | 5. kolo: ${group.get(5)} - ${group.get(1)}`;

                    }
                }

                return groupPairs;
            }

            function reset() {
                document.querySelector('#makeTables').disabled = false;
                document.querySelector('#dynamic').innerHTML = '';
                document.querySelector('#list').innerHTML = '';
            }


            $('#makeTables').click(makeTables);
            document.querySelector('#reset').addEventListener('click', reset);



        });
</script>
