<div>
    <p>Lista igara koje se obradjuju:</p>
    <table>
        <thead>
            <th>naziv</th>
            <th>link</th>
        </thead>
        <tbody>
            <td id="title"></td>
            <td id="link"></td>
        </tbody>
    </table>
    <p id="result"></p>
    <button id="b">ok</button>
</div>
<script>
    let result = document.getElementById('result')

    var worker = new Worker('/public/js/worker.js')


    worker.onmessage = e => {
        let mess = e.data
        console.log(`from worker: ${mess}`)
    }
    worker.postMessage('i am from main')


    let b = document.getElementById('b')
    b.addEventListener('click', function (e) {
        alert(b.textContent)
    })
</script>
